{%extends 'main.html'%}{%block title%}{{titulo|upper}}{%endblock title%}
{%load static%}
{%block scripts%}{%endblock%}

{%block styles%}
<style>

</style>
{%endblock%}

{%block content%}
{%include 'nav-home.html'%}
{%include 'mensajes.html'%}
<main>
    <!-- PLÍTICA DE PRIVACIDAD -->
    <div class="col-12 separador"></div>
    <div class="container-fluid g-0 main-scroll">
        <div class="container mt-5">
            <h1 id="privacidad">Política de Privacidad</h1>
            <hr><br>
            <p>Inserta aquí tu política de privacidad.</p>

            <h1 id="informacion">Información Recopilada</h1>
            <hr><br>
            <p>Inserta aquí la información que recopilas de tus usuarios.</p>

            <h1 id="proteccion">Protección de Datos</h1>
            <hr><br>
            <p>Inserta aquí cómo proteges los datos de tus usuarios.</p>
        </div>
    </div>
</main>
{%include 'footer.html'%}
{%endblock content%}