<div class="card mt-2" style="background-color: var(--gris4);">
    <div class="card-header d-flex justify-content-between align-items-center"
    style="background-color: var(--gris); color:black;">
        <span>General</span>
        {%if request.user.is_superuser and modificacion%}
        <span>
            <div class="btn-group" role="group">
                <a class="btn btn-opciones" href="{%url 'modelo-editar' dato.id%}"><i
                        class="bi bi-pencil-square"></i></a>
                <a class="btn btn-opciones" href="{%url 'modelo-eliminar' dato.id%}"><i
                        class="bi bi-trash3"></i></a>
            </div>
        </span>
        {%endif%}
    </div>
    <ul class="list-group list-group-flush">

        <li class="list-group-item"><span class="text-muted">Nombre:</span><span
                class="mx-2 fw-bold">{{dato.nombre}}</span></li>

        <li class="list-group-item"><span class="text-muted">Descripcion:</span><span
                class="mx-2 fw-bold">{{dato.descripcion}}</span></li>

        <li class="list-group-item"><span class="text-muted">Fecha:</span><span
                class="mx-2 fw-bold">{{dato.fecha}}</span></li>

        <li class="list-group-item"><span class="text-muted">Hora:</span><span class="mx-2 fw-bold">{{dato.hora}}</span>
        </li>

        <li class="list-group-item"><span class="text-muted">Archivo:</span><span
                class="mx-2 fw-bold">{{dato.archivo}}</span></li>

        <li class="list-group-item"><span class="text-muted">Foto:</span><span class="mx-2 fw-bold">{{dato.foto}}</span>
        </li>

    </ul>
</div>
<br>
<!-- Card para el campo one to one one_modelo -->
{%if dato.one_modelo%}
<div class="card mt-2" style="background-color: var(--gris4);">
    <div class="card-header  d-flex justify-content-between align-items-center"
    style="background-color: var(--gris);">
        <span>One_modelo</span>
        {%if request.user.is_superuser and modificacion%}
        <span>
            <div class="btn-group" role="group">
                <a class="btn btn-opciones " href="{%url 'one_modelo-editar' dato.one_modelo.id%}"><i
                        class="bi bi-pencil-square"></i></a>
                <a class="btn btn-opciones " href="{%url 'one_modelo-eliminar' dato.one_modelo.id%}"><i
                        class="bi bi-trash3"></i></a>
            </div>
        </span>
        {%endif%}
    </div>
    <ul class="list-group list-group-flush">

        <li class="list-group-item"><span class="text-muted">Nombre_complementario:</span><span
                class="mx-2 fw-bold">{{dato.one_modelo.nombre_complementario}}</span></li>

        <li class="list-group-item"><span class="text-muted">Descripcion_complementario:</span><span
                class="mx-2 fw-bold">{{dato.one_modelo.descripcion_complementario}}</span></li>

    </ul>
</div>
{%endif%}
<br>

<!-- Card para el campo one to one variante_modelo -->
{%if dato.variante_modelo%}
<div class="card mt-2" style="background-color: var(--gris4);">
    <div class="card-header  d-flex justify-content-between align-items-center"
    style="background-color: var(--gris); color:black;">
        <span>Variante_modelo</span>
        {%if request.user.is_superuser and modificacion%}
        <span>
            <div class="btn-group" role="group">
                <a class="btn btn-opciones "
                    href="{%url 'variante_modelo-editar' dato.variante_modelo.id%}"><i
                        class="bi bi-pencil-square"></i></a>
                <a class="btn btn-opciones "
                    href="{%url 'variante_modelo-eliminar' dato.variante_modelo.id%}"><i class="bi bi-trash3"></i></a>
            </div>
        </span>
        {%endif%}
    </div>
    <ul class="list-group list-group-flush">

        <li class="list-group-item"><span class="text-muted">Nombre_complementario:</span><span
                class="mx-2 fw-bold">{{dato.variante_modelo.nombre_complementario}}</span></li>

        <li class="list-group-item"><span class="text-muted">Descripcion_complementario:</span><span
                class="mx-2 fw-bold">{{dato.variante_modelo.descripcion_complementario}}</span></li>

    </ul>
</div>
{%endif%}
<br>
<!-- Card para el campo many to one -->
{%if dato.many_modelo_set.all %}
<div class="card mt-2" style="background-color: var(--gris4);">
    <div class="card-header  d-flex justify-content-between align-items-center"
    style="background-color: var(--gris); color:black;">
        <span>{{titulo}}</span>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 5%;" scope="col"></th>
                    <th class="text-center" scope="col" style="width: auto;">Nombre_foreign</th>
                    <th class="text-center" scope="col" style="width: auto;">Descripcion_foreign</th>

                    {%if request.user.is_superuser%}
                    <th style="width: 10%;" scope="col"></th>
                    {%endif%}
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {%for x in dato.many_modelo_set.all %}
                <tr>
                    <th style="width: 5%;" scope="row">{{forloop.counter}}</th>
                    <td style="width: auto;">{{x.nombre_foreign}}</td>
                    <td style="width: auto;">{{x.descripcion_foreign}}</td>

                    {%if request.user.is_superuser and modificacion%}
                    <td style="width: 10%;">
                        <div class="btn-group" role="group">
                            <a class="btn btn-opciones-black" href="{%url 'many_modelo-editar' x.id%}"><i
                                    class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-opciones-black" href="{%url 'many_modelo-eliminar' x.id%}"><i
                                    class="bi bi-trash3"></i></a>
                        </div>
                    </td>
                    {%endif%}
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{%endif%}
<br>